@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.vditor {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-sizing: border-box;
  font-family: $font-family-base;

  &--fullscreen {
    position: fixed;
    top: 0;
    width: 100% !important;
    left: 0;
    height: 100vh !important;
    z-index: 90;
    border-radius: 0;
  }

  &-content {
    display: flex;
    min-height: 60px;
    flex: 1;
    min-width: 1px;
    position: relative;
  }

  &-textarea {
    font-family: $font-family-base;
    margin: 0 1px 0 0;
    // https://github.com/Vanessa219/vditor/issues/328 height: 100%;
    overflow: auto;
    width: 100%;
    flex: 1;
    min-width: 1px;
    border: 0;
    resize: none;
    padding: 10px 9px 10px 10px;
    box-sizing: border-box;
    background-color: var(--panel-background-color);
    outline: 0 none;
    font-size: 16px;
    line-height: 22px;
    color: var(--textarea-text-color);
    border-radius: 0 0 3px 3px;
    font-variant-ligatures: no-common-ligatures;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;

    &[contenteditable="false"] {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &:empty::before {
      content: attr(placeholder);
      color: var(--second-color);
    }

    &:focus {
      background-color: var(--textarea-background-color);
    }

    &:after {
      content: "";
      height: var(--editor-bottom);
      display: block;
    }
  }

  &-preview {
    flex: 1;
    min-width: 1px;
    overflow: auto;
    margin-left: -1px;
    border-left: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 0 0 3px 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &__action {
      text-align: center;
      padding: 10px;
      background-color: var(--toolbar-background-color);

      button {
        background-color: var(--toolbar-background-color);
        color: var(--toolbar-icon-color);
        line-height: 20px;
        border: 0;
        margin: 0 10px;
        cursor: pointer;
        padding: 0 7px;
        font-size: 12px;

        &.vditor-preview__action--current,
        &:hover {
          color: var(--toolbar-icon-hover-color);
          background-color: var(--toolbar-background-color);
        }

        &:focus {
          outline: none;
        }
      }
    }

    & > .vditor-reset {
      padding: 10px;
      margin: 0 auto;
    }
  }

  &-devtools {
    display: none;
    background-color: var(--textarea-background-color);
    overflow: auto;
    flex: 1;
    min-width: 1px;
    box-shadow: inset 1px 0 var(--border-color);
    box-sizing: border-box;
    border-radius: 0 0 3px 0;
    padding: 10px;
  }

  &-counter {
    padding: 3px;
    color: var(--toolbar-icon-color);
    background-color: var(--code-background-color);
    border-radius: 3px;
    font-size: 12px;
    user-select: none;
    float: right;
    margin: 8px 3px 0 0;

    &--error {
      color: $errorColor;
      background-color: rgba($errorColor, 0.1);
    }
  }

  &-resize {
    padding: 3px 0;
    cursor: row-resize;
    user-select: none;
    position: absolute;
    width: 100%;

    &--top {
      top: -3px;
    }

    &--bottom {
      bottom: -3px;
    }

    & > div {
      height: 3px;
      background-color: var(--resize-background-color);
      transition: $transition;
    }

    &:hover,
    &--selected {
      & > div {
        background-color: var(--resize-hover-background-color);
      }

      svg {
        color: var(--resize-hover-icon-color);
      }
    }

    svg {
      fill: currentColor;
      stroke-width: 0;
      stroke: currentColor;
      width: 13px;
      height: 3px;
      display: block;
      margin: 0 auto;
      color: var(--resize-icon-color);
    }
  }

  &-upload {
    position: absolute;
    height: 3px;
    left: 0;
    top: -2px;
    transition: $transition;
    background-color: $blurColor;
  }

  &-tip {
    position: absolute;
    font-size: 12px;
    top: 10px;
    animation-duration: .15s;
    animation-fill-mode: both;
    left: 50%;
    z-index: 5;

    &--show {
      display: block;
      animation-name: slideInDown;
    }

    &__content {
      text-align: left;
      display: inline-block;
      line-height: 16px;
      padding: 3px 10px;
      border-radius: 3px;
      background: var(--toolbar-background-color);
      position: relative;
      margin-left: -50%;
      color: var(--toolbar-icon-color);
      max-width: 100%;
      box-shadow: $layerShadow;

      ul {
        margin: 2px 0;
        padding: 0 0 0 18px;
      }

      a {
        color: $blurColor;
      }
    }

    &__close {
      position: absolute;
      color: var(--toolbar-icon-color);
      top: -7px;
      right: -15px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: var(--toolbar-icon-hover-color);
      }
    }
  }

  &-outline {
    min-width: 250px;
    width: 250px;
    border-right: 1px solid var(--border-color);
    background-color: var(--panel-background-color);
    display: none;

    &__item {
      padding: 5px 10px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: var(--toolbar-icon-hover-color);
        background-color: var(--toolbar-background-color);
      }
    }

    &__panel {
      position: sticky;
      overflow: auto;
      top: 35px;
      padding-bottom: 10px;
      color: var(--textarea-text-color);
      box-sizing: border-box;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__title {
      border-bottom: 1px dashed var(--border-color);
      padding: 5px 10px;
      color: var(--toolbar-icon-color);
      font-size: 12px;
    }
  }
}
