/**
 * panel.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 1.0.0.0, Jan 22, 2020
 */

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.vditor {
  &-panel {
    background-color: $layerBg;
    position: absolute;
    box-shadow: $layerShadow;
    border-radius: 3px;
    padding: 5px;
    z-index: 3;
    font-size: 14px;
    display: none;
    user-select: none;
    max-width: 320px;
    min-width: 80px;
    animation-duration: .15s;
    animation-name: scale-in;
    animation-timing-function: cubic-bezier(.2, 0, .13, 1.5);

    &--none {
      color:  var(--toolbar-icon-hover-color);
      padding: 0;
      animation: none;
      background-color:  var(--toolbar-background-color);
      min-width: auto;
      max-width: none;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      cursor: pointer;
      padding: 3px 10px;
      border-radius: 3px;
      line-height: normal;

      &:hover {
        background-color: var(--hover-background-color);
        color: $hoverColor;
      }
    }
  }

  &-input {
    border: 0;
    padding: 3px 5px;
    background-color:  var(--toolbar-background-color);
    font-size: 12px;

    &:focus {
      background-color: var(--textarea-focus-background-color);
      outline: none;
    }
  }

  &-btn {
    border-radius: 3px;
    cursor: pointer;
    background-color:  var(--toolbar-background-color);
    font-size: 12px;
    padding: 2px 7px 1px;
    border: 1px solid  var(--border-color);
    line-height: 16px;
    float: right;

    &:focus {
      outline: none;
      background-color: var(--textarea-focus-background-color);
    }
  }

  &-icon {
    color:  var(--toolbar-icon-color);
    cursor: pointer;
    float: left;
    padding: 2px 5px;
    height: 19px;
    width: 25px;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;

    &:hover,
    &--current {
      color:  var(--toolbar-icon-hover-color);
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }

    svg {
      height: 15px !important;
      width: 15px !important;
      float: left;
      fill: currentColor;
    }
  }
}
