/**
 * toolbar.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.1.0, Feb 11, 2019
 */
.vditor {
  &-toolbar {
    background-color: $toolbarBg;
    border-bottom: 1px solid $borderColor;
    padding: 0 5px;
    border-radius: 3px 3px 0 0;

    & > div {
      padding: 10px 5px;
      float: left;
      line-height: 14px;
      height: 36px;
      box-sizing: border-box;
    }

    svg {
      fill: currentColor;
      display: inline-block;
      stroke-width: 0;
      stroke: currentColor;
      width: 14px;
      height: 14px;
    }

    .vditor-tooltipped {
      color: $toolbarIcon;
      &:hover {
        color: $toolbarIconHover;
      }
    }

    label {
      overflow: hidden;
      position: relative;
      height: 14px;
      width: 15px;
      display: block;
      cursor: pointer;
    }

    input {
      position: absolute;
      width: 1px;
      opacity: .001;
      height: 14px;
      overflow: hidden;
    }
  }

  &-menu {
    &--current svg {
      color: $toolbarIconHover;
    }

    &__divider {
      width: 10px;
    }

    &__br {
      width: 100%;
      padding: 0 !important;
      height: 0 !important;
    }
  }

  &-emojis {
    display: inline-block;

    &__tail {
      font-size: 12px;
      text-align: right;
      color: $toolbarIcon;
      a {
        text-decoration: none;
        color: $toolbarIcon;
        &:hover {
          color: $hoverBg;
        }
      }
    }

    span {
      cursor: pointer;
      border-radius: 3px;
      float: left;
      height: 26px;
      width: 26px;
      text-align: center;
      line-height: 20px;
      padding: 3px;
      box-sizing: border-box;
      font-size: 16px;
      &:hover {
        background-color: $hoverBg;
      }
    }

    img {
      height: 20px;
      width: 20px;
      float: left;
    }
  }
}