.vditor {
  &-toolbar {
    background-color: var(--toolbar-background-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 5px;

    &--hide {
      transition: $transition;
      height: 5px;

      &:hover {
        background-color: var(--toolbar-background-color);
        height: auto;
      }
    }

    &__item {
      float: left;
      position: relative;

      .vditor-tooltipped {
        color: var(--toolbar-icon-color);
        border: 0;
        margin: 0;
        padding: 10px 5px;
        background-color: transparent;
        height: 35px;
        width: 25px;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }

        &:hover {
          color: var(--toolbar-icon-hover-color);
        }
      }

      svg {
        fill: currentColor;
        display: inline-block;
        stroke-width: 0;
        stroke: currentColor;
        width: 15px;
        height: 15px;
      }

      input {
        position: absolute;
        width: 25px;
        height: 35px;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: .001;
        overflow: hidden;
      }
    }

    &__divider {
      float: left;
      width: 10px;
      height: 35px;
    }

    &__br {
      width: 100%;
      padding: 0 !important;
      height: 0 !important;
    }
  }

  &-menu {
    &--current svg {
      color: var(--toolbar-icon-hover-color);
    }

    &--disabled svg {
      color: var(--second-color);
      cursor: not-allowed;
    }
  }

  &-emojis {
    display: inline-block;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &__tip {
      flex: 1;
      width: 200px;
      margin-right: 10px;
      color: var(--toolbar-icon-color);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__tail {
      margin-top: 5px;
      font-size: 12px;
      color: var(--toolbar-icon-color);
      display: flex;

      a {
        text-decoration: none;
        color: var(--toolbar-icon-color);

        &:hover {
          color: var(--toolbar-icon-hover-color);
        }
      }
    }

    button {
      cursor: pointer;
      border-radius: 3px;
      float: left;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 26px;
      padding: 3px;
      box-sizing: border-box;
      font-size: 16px;
      transition: $transition;
      border: 0;
      margin: 0;
      background-color: transparent;
      overflow: hidden;

      &:focus {
        outline: none;
      }

      &:hover .vditor-emojis__icon {
        display: inline-block;
        transform: scale(1.2);
      }
    }

    img {
      height: 20px;
      width: 20px;
      float: left;
      margin: 3px 0 0 3px;
    }
  }
}
