.vditor-wysiwyg {
  background-color: $textareaBg;
  box-sizing: border-box;
  flex: 1;
  margin: 0;

  &[contenteditable="false"] {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    background-color: $textareaFocusBg;
  }

  .marker {
    height: 0;
    width: 0;
    display: inline-block;
    overflow: hidden;
    transition: color .15s ease-in-out;
  }

  .newline {
    display: none;
  }

  .node--expand .marker {
    width: auto;
    height: auto;
    display: inline;
    color: #bbb;
  }

  p:empty:after {
    content:  '\200b';
  }

  li p {
    display: inline-block;
  }
}

