.vditor-wysiwyg {
  background-color: var(--textarea-background-color);
  box-sizing: border-box;
  flex: 1;
  margin: 0;
  white-space: pre-wrap;
  position: relative;
  color: var(--textarea-text-color);

  &[contenteditable="false"] {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    background-color: var(--textarea-focus-background-color);
  }

  blockquote:empty::before,
  pre > code:empty::before {
    content: ' ';
  }

  code {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__block {
    &[data-type="html-block"] > pre,
    &[data-type="math-block"] > pre {
      margin-bottom: 0;
    }

    & > code {
      display: none;
    }

    & > pre {
      margin-bottom: -1em;
      display: none;

      & > code {
        background-color: #fff !important;
        border: 1px solid var(--border-color);
        overflow: auto !important;
        display: block;
      }
    }

    &[data-type=html-inline] .vditor-wysiwyg__preview svg {
      fill: var(--toolbar-icon-color1);
      height: 12px;
      cursor: pointer;
      width: 12px;
    }
  }

  &__preview {
    cursor: pointer;
    white-space: initial;
    min-height: 27px;

    pre {
      margin-bottom: 1em !important;
    }
  }

  h1:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before,
  div.vditor-wysiwyg__block:before {
    float: left;
    padding-right: 4px;
    margin-left: -29px;
    content: 'h1';
    font-size: 0.85rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--toolbar-icon-color1);
  }

  h2:before {
    content: 'h2';
  }

  h3:before {
    content: 'h3';
  }

  h4:before {
    content: 'h4';
  }

  h5:before {
    content: 'h5';
  }

  h6:before {
    content: 'h6';
  }

  div.vditor-wysiwyg__block {
    &:before {
      content: "</>";
    }
  }

  details {
    white-space: initial;
  }

  span[data-type="backslash"] > span {
    display: none;
    color: var(--toolbar-icon-color1);
  }

}
