$borderColor: #d1d5da !default;
$errorColor: #d23f31!default;

$toolbarBg: #f6f8fa !default;
$toolbarIcon: #586069 !default;
$toolbarIconHover: #4285f4 !default;

$textareaBg: #fafbfc !default;
$textareaColor: #24292e !default;
$textareaFocusBg: #fff !default;

$tooltipColor:#fff !default;
$toolTipBg: rgba(0, 0, 0, 0.8) !default;

$layerBg: #fff !default;
$layerShadow:  0 1px 2px rgba(0, 0, 0, .2) !default;

$hoverBg: #4285f4 !default;
$hoverColor: #fff !default;

$resizeBg: #f6f8fa !default;
$resizeHoverBg: #4285f4 !default;

$fullscreenBg: #fff !default;
$previewBg: #fff !default;

$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif !default;
$font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

@import "tooltipped";
@import "panel";
@import "toolbar";
@import "content";
@import "hint";
@import "reset";