$borderColor: #fff !default;

$toolbarBg: #2c2c2c !default;
$toolbarIcon: #b9b9b9 !default;
$toolbarIconHover: #fff !default;
$errorColor: #d23f31!default;

$textareaBg: #fff !default;
$textareaColor: rgba(0,0,0,.8) !default;
$textareaFocusBg: #fff !default;

$tooltipColor:#fff !default;
$toolTipBg: rgba(0, 0, 0, 0.8) !default;

$layerBg: #fff !default;
$layerShadow:  0 1px 2px rgba(0, 0, 0, .2) !default;

$resizeBg: #f3f3f3 !default;
$resizeHoverBg: #2c2c2c !default;

$hoverBg: #2c2c2c !default;
$hoverColor: #fff !default;

$fullscreenBg: #fff !default;
$previewBg: #f3f3f3 !default;

$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif !default;
$font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

@import "tooltipped";
@import "panel";
@import "toolbar";
@import "content";
@import "hint";
@import "reset";