$errorColor: #d23f31 !default;
$blurColor: #4285f4 !default;

$layerShadow: 0 1px 2px rgba(0, 0, 0, .2) !default;

$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !default;
$font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !default;

$transition: all .15s ease-in-out !default;

.vditor,
.vditor-reset {
  --border-color: #d1d5da;
  --second-color: rgba(88, 96, 105, 0.36);

  --panel-background-color: #fff;

  --toolbar-background-color: #f6f8fa;
  --toolbar-icon-color: #586069;
  --toolbar-icon-hover-color: #{$blurColor};

  --textarea-background-color: #fafbfc;
  --textarea-text-color: #24292e;

  --resize-icon-color: var(--toolbar-icon-color);
  --resize-background-color: var(--toolbar-background-color);
  --resize-hover-icon-color: var(--panel-background-color);
  --resize-hover-background-color: var(--toolbar-icon-hover-color);

  --code-background-color: rgba(27, 31, 35, .05);
  --heading-border-color: #eaecef;
  --blockquote-color: #6a737d;

  --ir-heading-color: #660e7a;
  --ir-title-color: #808080;
  --ir-bi-color: #000080;
  --ir-link-color: #008000;
  --ir-bracket-color: #0000ff;
  --ir-paren-color: #008000;

  &--dark {
    --border-color: #141414;
    --second-color: rgba(185, 185, 185, .36);

    --panel-background-color: #24292e;

    --toolbar-background-color: #1d2125;
    --toolbar-icon-color: #b9b9b9;
    --toolbar-icon-hover-color: #fff;

    --textarea-background-color: #2f363d;
    --textarea-text-color: #d1d5da;

    --resize-icon-color: var(--border-color);
    --resize-background-color: var(--second-color);
    --resize-hover-icon-color: var(--toolbar-icon-hover-color);
    --resize-hover-background-color: rgba(185, 185, 185, .86);

    --code-background-color: #{rgba($blurColor, .36)};
    --heading-border-color: var(--textarea-text-color);
    --blockquote-color: var(--toolbar-icon-color);

    --ir-heading-color: #9876aa;
    --ir-title-color: #808080;
    --ir-bi-color: #cc7832;
    --ir-link-color: #ffc66d;
    --ir-bracket-color: #287bde;
    --ir-paren-color: #6a8759;
  }
}

@import "tooltipped";
@import "panel";
@import "toolbar";
@import "content";
@import "hint";
@import "reset";
@import "wysiwyg";
@import "ir";
