/* Background */ .highlight-chroma { color: #f8f8f2; background-color: #000000 }
/* LineTableTD */ .highlight-chroma .highlight-lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .highlight-chroma .highlight-lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .highlight-chroma .highlight-hl { display: block; width: 100%;background-color: #191919 }
/* LineNumbersTable */ .highlight-chroma .highlight-lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7c7c79 }
/* LineNumbers */ .highlight-chroma .highlight-ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7c7c79 }
/* Keyword */ .highlight-chroma .highlight-k { color: #ff0000 }
/* KeywordConstant */ .highlight-chroma .highlight-kc { color: #ff0000 }
/* KeywordDeclaration */ .highlight-chroma .highlight-kd { color: #ff0000 }
/* KeywordNamespace */ .highlight-chroma .highlight-kn { color: #ff0000 }
/* KeywordPseudo */ .highlight-chroma .highlight-kp { color: #ff0000 }
/* KeywordReserved */ .highlight-chroma .highlight-kr { color: #ff0000 }
/* KeywordType */ .highlight-chroma .highlight-kt { color: #ee82ee }
/* NameConstant */ .highlight-chroma .highlight-no { color: #7fffd4 }
/* NameFunction */ .highlight-chroma .highlight-nf { color: #ffff00 }
/* NameVariable */ .highlight-chroma .highlight-nv { color: #eedd82 }
/* LiteralString */ .highlight-chroma .highlight-s { color: #87ceeb }
/* LiteralStringAffix */ .highlight-chroma .highlight-sa { color: #87ceeb }
/* LiteralStringBacktick */ .highlight-chroma .highlight-sb { color: #87ceeb }
/* LiteralStringChar */ .highlight-chroma .highlight-sc { color: #87ceeb }
/* LiteralStringDelimiter */ .highlight-chroma .highlight-dl { color: #87ceeb }
/* LiteralStringDoc */ .highlight-chroma .highlight-sd { color: #87ceeb }
/* LiteralStringDouble */ .highlight-chroma .highlight-s2 { color: #87ceeb }
/* LiteralStringEscape */ .highlight-chroma .highlight-se { color: #87ceeb }
/* LiteralStringHeredoc */ .highlight-chroma .highlight-sh { color: #87ceeb }
/* LiteralStringInterpol */ .highlight-chroma .highlight-si { color: #87ceeb }
/* LiteralStringOther */ .highlight-chroma .highlight-sx { color: #87ceeb }
/* LiteralStringRegex */ .highlight-chroma .highlight-sr { color: #87ceeb }
/* LiteralStringSingle */ .highlight-chroma .highlight-s1 { color: #87ceeb }
/* LiteralStringSymbol */ .highlight-chroma .highlight-ss { color: #ff6600 }
/* LiteralNumber */ .highlight-chroma .highlight-m { color: #ff6600 }
/* LiteralNumberBin */ .highlight-chroma .highlight-mb { color: #ff6600 }
/* LiteralNumberFloat */ .highlight-chroma .highlight-mf { color: #ff6600 }
/* LiteralNumberHex */ .highlight-chroma .highlight-mh { color: #ff6600 }
/* LiteralNumberInteger */ .highlight-chroma .highlight-mi { color: #ff6600 }
/* LiteralNumberIntegerLong */ .highlight-chroma .highlight-il { color: #ff6600 }
/* LiteralNumberOct */ .highlight-chroma .highlight-mo { color: #ff6600 }
/* Comment */ .highlight-chroma .highlight-c { color: #00ff00 }
/* CommentHashbang */ .highlight-chroma .highlight-ch { color: #00ff00 }
/* CommentMultiline */ .highlight-chroma .highlight-cm { color: #00ff00 }
/* CommentSingle */ .highlight-chroma .highlight-c1 { color: #00ff00 }
/* CommentSpecial */ .highlight-chroma .highlight-cs { color: #00ff00 }
/* CommentPreproc */ .highlight-chroma .highlight-cp { color: #e5e5e5 }
/* CommentPreprocFile */ .highlight-chroma .highlight-cpf { color: #e5e5e5 }
