/* Background */ .highlight-chroma { color: #8a8a8a; background-color: #1c1c1c }
/* Other */ .highlight-chroma .highlight-x { color: #d75f00 }
/* LineTableTD */ .highlight-chroma .highlight-lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .highlight-chroma .highlight-lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .highlight-chroma .highlight-hl { display: block; width: 100%;background-color: #323232 }
/* LineNumbersTable */ .highlight-chroma .highlight-lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #454545 }
/* LineNumbers */ .highlight-chroma .highlight-ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #454545 }
/* Keyword */ .highlight-chroma .highlight-k { color: #5f8700 }
/* KeywordConstant */ .highlight-chroma .highlight-kc { color: #d75f00 }
/* KeywordDeclaration */ .highlight-chroma .highlight-kd { color: #0087ff }
/* KeywordNamespace */ .highlight-chroma .highlight-kn { color: #d75f00 }
/* KeywordPseudo */ .highlight-chroma .highlight-kp { color: #5f8700 }
/* KeywordReserved */ .highlight-chroma .highlight-kr { color: #0087ff }
/* KeywordType */ .highlight-chroma .highlight-kt { color: #af0000 }
/* NameBuiltin */ .highlight-chroma .highlight-nb { color: #0087ff }
/* NameBuiltinPseudo */ .highlight-chroma .highlight-bp { color: #0087ff }
/* NameClass */ .highlight-chroma .highlight-nc { color: #0087ff }
/* NameConstant */ .highlight-chroma .highlight-no { color: #d75f00 }
/* NameDecorator */ .highlight-chroma .highlight-nd { color: #0087ff }
/* NameEntity */ .highlight-chroma .highlight-ni { color: #d75f00 }
/* NameException */ .highlight-chroma .highlight-ne { color: #af8700 }
/* NameFunction */ .highlight-chroma .highlight-nf { color: #0087ff }
/* NameTag */ .highlight-chroma .highlight-nt { color: #0087ff }
/* NameVariable */ .highlight-chroma .highlight-nv { color: #0087ff }
/* LiteralString */ .highlight-chroma .highlight-s { color: #00afaf }
/* LiteralStringAffix */ .highlight-chroma .highlight-sa { color: #00afaf }
/* LiteralStringBacktick */ .highlight-chroma .highlight-sb { color: #4e4e4e }
/* LiteralStringChar */ .highlight-chroma .highlight-sc { color: #00afaf }
/* LiteralStringDelimiter */ .highlight-chroma .highlight-dl { color: #00afaf }
/* LiteralStringDoc */ .highlight-chroma .highlight-sd { color: #00afaf }
/* LiteralStringDouble */ .highlight-chroma .highlight-s2 { color: #00afaf }
/* LiteralStringEscape */ .highlight-chroma .highlight-se { color: #af0000 }
/* LiteralStringHeredoc */ .highlight-chroma .highlight-sh { color: #00afaf }
/* LiteralStringInterpol */ .highlight-chroma .highlight-si { color: #00afaf }
/* LiteralStringOther */ .highlight-chroma .highlight-sx { color: #00afaf }
/* LiteralStringRegex */ .highlight-chroma .highlight-sr { color: #af0000 }
/* LiteralStringSingle */ .highlight-chroma .highlight-s1 { color: #00afaf }
/* LiteralStringSymbol */ .highlight-chroma .highlight-ss { color: #00afaf }
/* LiteralNumber */ .highlight-chroma .highlight-m { color: #00afaf }
/* LiteralNumberBin */ .highlight-chroma .highlight-mb { color: #00afaf }
/* LiteralNumberFloat */ .highlight-chroma .highlight-mf { color: #00afaf }
/* LiteralNumberHex */ .highlight-chroma .highlight-mh { color: #00afaf }
/* LiteralNumberInteger */ .highlight-chroma .highlight-mi { color: #00afaf }
/* LiteralNumberIntegerLong */ .highlight-chroma .highlight-il { color: #00afaf }
/* LiteralNumberOct */ .highlight-chroma .highlight-mo { color: #00afaf }
/* OperatorWord */ .highlight-chroma .highlight-ow { color: #5f8700 }
/* Comment */ .highlight-chroma .highlight-c { color: #4e4e4e }
/* CommentHashbang */ .highlight-chroma .highlight-ch { color: #4e4e4e }
/* CommentMultiline */ .highlight-chroma .highlight-cm { color: #4e4e4e }
/* CommentSingle */ .highlight-chroma .highlight-c1 { color: #4e4e4e }
/* CommentSpecial */ .highlight-chroma .highlight-cs { color: #5f8700 }
/* CommentPreproc */ .highlight-chroma .highlight-cp { color: #5f8700 }
/* CommentPreprocFile */ .highlight-chroma .highlight-cpf { color: #5f8700 }
/* GenericDeleted */ .highlight-chroma .highlight-gd { color: #af0000 }
/* GenericEmph */ .highlight-chroma .highlight-ge { font-style: italic }
/* GenericError */ .highlight-chroma .highlight-gr { color: #af0000; font-weight: bold }
/* GenericHeading */ .highlight-chroma .highlight-gh { color: #d75f00 }
/* GenericInserted */ .highlight-chroma .highlight-gi { color: #5f8700 }
/* GenericStrong */ .highlight-chroma .highlight-gs { font-weight: bold }
/* GenericSubheading */ .highlight-chroma .highlight-gu { color: #0087ff }
