.vditor-sv {
  font-family: @font-family-base;
  margin: 0 1px 0 0;
  overflow: auto;
  width: 100%;
  flex: 1;
  min-width: 1px;
  border: 0;
  resize: none;
  padding: 10px 9px 10px 10px;
  box-sizing: border-box;
  background-color: var(--panel-background-color);
  outline: 0 none;
  font-size: 16px;
  line-height: 22px;
  color: var(--textarea-text-color);
  border-radius: 0 0 3px 3px;
  font-variant-ligatures: no-common-ligatures;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--second-color);
  }

  &:focus {
    background-color: var(--textarea-background-color);
  }

}
