@import "../src/assets/scss/classic";

.content-reset {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  word-wrap: break-word;
  overflow: auto;
  line-height: 1.65;
  font-size: 16px;
  word-break: break-word;

  ul,
  ol {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 16px;
  }

  li {
    margin-top: 0.25em;
  }

  img.emoji {
    cursor: auto;
    max-width: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  h1 {
    padding-bottom: 0.3em;
    font-size: 1.7em;
    border-bottom: 1px solid #eee;
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
  }

  hr {
    height: 0.15em;
    padding: 0;
    margin: 24px 0;
    background-color: #e7e7e7;
    border: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
    margin-bottom: 16px;
  }

  blockquote p {
    margin: 0;
  }

  ins > iframe {
    border: 0;
  }

  iframe {
    border: 1px solid rgba(0, 0, 0, .38);
  }

  table {
    width: 100%;
    border: 1px solid #dedede;
    margin: 15px auto;
    border-collapse: collapse;
    empty-cells: show;
  }

  thead {
    text-align: center;
  }

  td,
  th {
    height: 35px;
    border: 1px solid #dedede;
    padding: 0 10px;
  }

  th {
    font-weight: bold;
    text-align: center !important;
    background: rgba(158, 188, 226, 0.2);
  }

  tbody tr:nth-child(2n) {
    background: rgba(158, 188, 226, 0.12);
  }

  tr:hover {
    background: #efefef;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(252, 41, 41, 0.12);
    border-radius: 3px;
    color: #d23f31;
    font-family: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    word-break: break-word;
  }

  pre {
    position: relative;
    textarea {
      position: absolute;
      top: -100000px;
    }
    .sym-code__copy {
      position: absolute;
      top: 5px;
      background-color: #3b3e43;
      right: 5px;
      display: none;
      cursor: pointer;
      padding: 0 7px;
      color: #fff;
      border-radius: 3px;

      svg {
        display: block;
        height: 18px;
        width: 18px;
        margin: 4px 0;
      }
    }
    &:hover .sym-code__copy {
      display: block;
    }
  }

  pre > code {
    padding: 0.5em;
    color: #000;
    background-color: rgba(0, 0, 0, 0.04);
    background-size: 20px 20px;
    border-radius: 5px;
    display: block;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px rgba(0, 0, 0, .38);
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
  }

  summary {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  &__task,
  .task-list-item {
    list-style: none;
    margin-left: -1em;
    display: flex;
    align-items: center;
  }

  .link-card {
    overflow: hidden;
    background-color: #f1f7fe;
    border-radius: 3px;
    margin: 31px 70px 16px; // 内容只有链接是，tip 会被 content-reset 遮住
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    line-height: 16px;
    transition: background-color .15s cubic-bezier(.4, 0, .2, 1), box-shadow .15s cubic-bezier(.4, 0, .2, 1);
    &:hover {
      box-shadow: 0 0 3px rgba(0, 0, 0, .13), 0 3px 6px rgba(0, 0, 0, .26);
      text-decoration: none;
    }
    &:visited .link-card__abstract {
      color: #333;
    }

    &__info {
      padding: 10px;
      img {
        cursor: pointer;
        height: 20px;
        width: 20px;
        border-radius: 3px;
        flex-shrink: 0;
      }
    }
    &__image {
      width: 160px;
      cursor: pointer;
      background-color: #fff;
    }
    &__title {
      font-size: 14px;
      font-weight: 400;
      color: #000;
    }
    &__abstract {
      word-wrap: break-word;
      font-size: 13px;
      color: rgba(0, 0, 0, .38);
      margin: 5px 0;
    }
  }
}